<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ServletConfigurator</servlet-name>
        <servlet-class>
            org.logicalcobwebs.proxool.configuration.ServletConfigurator
        </servlet-class>
        <init-param>
            <param-name>xmlFile</param-name>
            <param-value>WEB-INF/proxool.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletConfigurator</servlet-name>
        <url-pattern>/servletConfigurator</url-pattern>
    </servlet-mapping>


    <!-- 404 页面不存在错误 -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <!-- 500 服务器内部错误
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page> -->

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>action.SessionFilter</filter-class>
        <init-param>
            <param-name>logonStrings</param-name> <!-- 对登录页面不进行过滤 -->
            <param-value>/index.jsp;/admin-login.jsp;/college-login.jsp;/admin-login.jsp;
                LoginAction.do;GetUserID.do;/404.jsp;/500.jsp;/recruitNews.jsp;RecruitNew.do;
                RecruitSearch.do;
            </param-value>
        </init-param>
        <init-param>
            <param-name>includeStrings</param-name><!-- 只对指定过滤参数后缀进行过滤 -->
            <param-value>.do;.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>redirectPath</param-name><!-- 未通过跳转到登录界面 -->
            <param-value>/index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>disabletestfilter</param-name><!-- Y:过滤无效 -->
            <param-value>N</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--log4j日志记录xml-->
    <servlet>
        <servlet-name>Log4JTestServlet</servlet-name>
        <servlet-class>servlet.log.Log4JTestServlet</servlet-class>
    </servlet>

    <!--用来启动 log4jConfigLocation的servlet-->
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>servlet.log.Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>/WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Log4JInitServlet</servlet-name>
        <url-pattern>/test/jinit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log4JTestServlet</servlet-name>
        <url-pattern>/test/jtest</url-pattern>
    </servlet-mapping>
    <!--log4j配置结束-->

    <servlet>
        <servlet-name>RegisterCountByClass</servlet-name>
        <servlet-class>servlet.admin.RegisterCountByClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCountByClass</servlet-name>
        <url-pattern>/admin/registerCountByClass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerCountByClass</servlet-name>
        <servlet-class>servlet.college.RegisterCountByClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerCountByClass</servlet-name>
        <url-pattern>/college/registerCountByClass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Checkcode</servlet-name>
        <servlet-class>servlet.Checkcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByAdmin</servlet-name>
        <servlet-class>servlet.admin.QueryByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlet.admin.AdminLogin</servlet-class>
    </servlet>
    <!--liyanze admin 2-->
    <servlet>
        <servlet-name>gotoMajorDetailServlet</servlet-name>
        <servlet-class>servlet.admin.GotoMajorDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GotoMajorDetailServlet</servlet-name>
        <servlet-class>servlet.college.GotoMajorDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadExcelServlet</servlet-name>
        <servlet-class>servlet.admin.UploadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadInfoServlet</servlet-name>
        <servlet-class>servlet.admin.DownloadInfoServlet</servlet-class>
    </servlet>
    <!--liyanze student 1-->
    <servlet>
        <servlet-name>AlterTelPC</servlet-name>
        <servlet-class>weixin.test.AlterTelPC</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>completeInfoServlet</servlet-name>
        <servlet-class>servlet.student.CompleteInfoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>servlet.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByStudent</servlet-name>
        <servlet-class>servlet.student.QueryByStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>servlet.admin.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeLogin</servlet-name>
        <servlet-class>servlet.college.CollegeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryByCollege</servlet-name>
        <servlet-class>servlet.college.QueryByCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_CheckBaodao</servlet-name>
        <servlet-class>servlet.admin.Admin_CheckBaodao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_modipwd</servlet-name>
        <servlet-class>servlet.admin.Admin_modipwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_modipwd</servlet-name>
        <servlet-class>servlet.college.College_modipwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_modipwd</servlet-name>
        <servlet-class>servlet.student.Student_modipwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateqiye</servlet-name>
        <servlet-class>weixin.test.updateqiye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterTagServlet</servlet-name>
        <servlet-class>weixin.test.alterTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserID</servlet-name>
        <servlet-class>weixin.test.GetUserID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoreServlet</servlet-name>
        <servlet-class>weixin.servlet.util.CoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterInfoServlet</servlet-name>
        <servlet-class>weixin.test.alterInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeQueryBySno</servlet-name>
        <servlet-class>weixin.test.CollegeQueryBySno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeFillReason</servlet-name>
        <servlet-class>weixin.test.CollegeFillReason</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QueryProblem</servlet-name>
        <servlet-class>servlet.student.QueryProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckScore</servlet-name>
        <servlet-class>servlet.student.CheckScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadStuScoreServlet</servlet-name>
        <servlet-class>servlet.admin.UploadStuScoreExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_checkNoRegister</servlet-name>
        <servlet-class>servlet.admin.Admin_checkNoRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_changeReason</servlet-name>
        <servlet-class>servlet.admin.Admin_changeReason</servlet-class>
    </servlet><servlet>
    <servlet-name>UploadPayStateExcelServlet</servlet-name>
    <servlet-class>servlet.admin.UploadPayStateExcelServlet</servlet-class>
</servlet>











    <servlet-mapping>
        <servlet-name>UploadPayStateExcelServlet</servlet-name>
        <url-pattern>/admin/uploadPayStateExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryProblem</servlet-name>
        <url-pattern>/student/queryProblem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckScore</servlet-name>
        <url-pattern>/student/checkScore</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Student_modipwd</servlet-name>
        <url-pattern>/student/student_modipwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_modipwd</servlet-name>
        <url-pattern>/admin/admin_modipwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_modipwd</servlet-name>
        <url-pattern>/college/college_modipwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_CheckBaodao</servlet-name>
        <url-pattern>/admin/admin_checkBaodao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByCollege</servlet-name>
        <url-pattern>/college/queryByCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeLogin</servlet-name>
        <url-pattern>/college/collegeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/admin/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByStudent</servlet-name>
        <url-pattern>/student/queryByStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/studentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryByAdmin</servlet-name>
        <url-pattern>/admin/queryByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/adminLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uploadExcelServlet</servlet-name>
        <url-pattern>/admin/uploadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadInfoServlet</servlet-name>
        <url-pattern>/admin/downloadInfoServlet</url-pattern>
    </servlet-mapping>
    <!--liyanze admin 3-->
    <servlet-mapping>
        <servlet-name>gotoMajorDetailServlet</servlet-name>
        <url-pattern>/admin/gotoMajorDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GotoMajorDetailServlet</servlet-name>
        <url-pattern>/college/gotoMajorDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkcode</servlet-name>
        <url-pattern>/checkcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--liyanze student 1-->
    <servlet-mapping>
        <servlet-name>AlterTelPC</servlet-name>
        <url-pattern>/student/AlterTelPC</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>completeInfoServlet</servlet-name>
        <url-pattern>/student/completeInfoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gotoCheckServlet</servlet-name>
        <servlet-class>servlet.admin.GotoCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gotoCheckServlet</servlet-name>
        <url-pattern>/admin/gotoCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetRegisterStateServlet</servlet-name>
        <servlet-class>servlet.admin.SetRegisterStateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>fillReasonServlet</servlet-name>
        <servlet-class>servlet.admin.FillReasonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetRegisterStateServlet</servlet-name>
        <url-pattern>/admintRegisterStateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fillReasonServlet</servlet-name>
        <url-pattern>/admin/fillReasonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>College_CheckNoRegister</servlet-name>
        <servlet-class>servlet.college.College_CheckNoRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>College_ChangeReason</servlet-name>
        <servlet-class>servlet.college.College_ChangeReason</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualBaodao</servlet-name>
        <servlet-class>weixin.test.ManualBaodao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQueryBySno</servlet-name>
        <servlet-class>weixin.test.AdminQueryBySno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStuInfo</servlet-name>
        <servlet-class>weixin.test.SearchStuInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Querystudent</servlet-name>
        <servlet-class>weixin.test.QueryStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Changepwd</servlet-name>
        <servlet-class>servlet.admin.Admin_Changepwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSuppleExcelServlet</servlet-name>
        <servlet-class>servlet.admin.UploadSuppleExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishNews</servlet-name>
        <servlet-class>servlet.admin.PublishNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitNew</servlet-name>
        <servlet-class>servlet.RecruitNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitSearch</servlet-name>
        <servlet-class>servlet.RecruitSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNews</servlet-name>
        <servlet-class>servlet.admin.SearchNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchNews</servlet-name>
        <url-pattern>/admin/searchNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitSearch</servlet-name>
        <url-pattern>/recruitSearch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RecruitNew</servlet-name>
        <url-pattern>/recruitNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishNews</servlet-name>
        <url-pattern>/admin/publishNews</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadSuppleExcelServlet</servlet-name>
        <url-pattern>/admin/uploadSuppleExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Changepwd</servlet-name>
        <url-pattern>/admin/admin_changepwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_ChangeReason</servlet-name>
        <url-pattern>/college/college_changeReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>College_CheckNoRegister</servlet-name>
        <url-pattern>/college/college_checkNoRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateqiye</servlet-name>
        <url-pattern>/updateqiye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterTagServlet</servlet-name>
        <url-pattern>/alterTagServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetUserID</servlet-name>
        <url-pattern>/GetUserID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoreServlet</servlet-name>
        <url-pattern>/CoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterInfoServlet</servlet-name>
        <url-pattern>/alterInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualBaodao</servlet-name>
        <url-pattern>/ManualBaodao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQueryBySno</servlet-name>
        <url-pattern>/AdminQueryBySno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStuInfo</servlet-name>
        <url-pattern>/SearchStuInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Querystudent</servlet-name>
        <url-pattern>/QueryStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeQueryBySno</servlet-name>
        <url-pattern>/CollegeQueryBySno</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CollegeFillReason</servlet-name>
        <url-pattern>/CollegeFillReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadStuScoreServlet</servlet-name>
        <url-pattern>/admin/uploadStuScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_changeReason</servlet-name>
        <url-pattern>/admin/admin_changeReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_checkNoRegister</servlet-name>
        <url-pattern>/admin/admin_checkNoRegister</url-pattern>
    </servlet-mapping>


</web-app>